.button-group {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.button-group button {
    padding: 10px 20px;
    margin-right: 10px;
    font-size: 16px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-group button:last-child {
    margin-right: 0;
}

.button-group button:hover {
    background-color: #0056b3;
}

/* Add more specific styles if required */
