.name {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 16px 4px 4px 4px;
}

.money-container {
  box-shadow: none;
  height: calc(50px * 3);
  width: calc(50px * 4);
  margin: 4px;
}

.money-column {
  display: inline-flex;
  width: 100px;
  flex-direction: row;
  flex-wrap: wrap;
}