.App {
  text-align: center;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.title {
  display: flex;
  flex-direction: column;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.button-group {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.button-group button {
  padding: 10px 20px;
  margin-right: 10px;
  font-size: 16px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-group button:last-child {
  margin-right: 0;
}

.button-group button:hover {
  background-color: #0056b3;
}

.investment {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.pomonies-hide {
  display: none;
}

.pomonies-display {
  display: flex;
}